.spent_time {
  width: 100%;
  height: 60px;
  color: blue;
  border-radius: 5px;
}

.bookmark {
  border-radius: 5px;
  height: 100%;
}

.bookmark_content {
  border-radius: 5px;
}

.rightSide {
  position: sticky;
  top: 0;
}
